@font-face {
    font-family: Rick-and-Morty-font;
    src: url(get_schwifty.ttf);
}
h1 {
    font-family: Rick-and-Morty-font;
    color: rgb(110, 211, 236);
    font-size: 60px;
    text-shadow: rgb(116, 246, 41) 1px 0 10px;
    text-align: center;
}
hr {
    margin: 5px;
    min-width: none;
}
#body-container {
    display: grid;
    grid-template-columns: 1fr 10px 4fr;
    max-height: window;
}
#favorite-container {
    display: flex;
    flex-direction: column;
    min-height: 770px;
    height: window;
    min-width: 200px;
    border: solid gold 3px;
    color: black;
    background-color: beige;
    margin: 0 5px 0 0;
    align-items: center;
    justify-items: center;
    text-align: center;
    border-radius: 20px;
    overflow: scroll;
    position: relative;
    background-image: url(img/corkboard-background.jpeg);
    background-size: 300px;
}
#favorite-container h1 {
    display: flex;
    flex-direction: column;
    font-size: 35px; 
    background-color: blanchedalmond; 
    border: solid gold 2px; 
    margin: 5px; 
    border-radius: 30px; 
    height: 60px; 
    width: 200px; 
    align-items: center;
    justify-items: center;
    text-align: center;
}
#filterBarContainer {
    display: flex;
    flex-wrap: wrap;
    border: solid black 3px;
    color: black;
    background-color: beige;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-self: flex-start;
    width: window;
    height: 50px;
    margin-left: 5px;
    padding-left: 20px;
    padding-right: 2px;
}
#pagination-for-card-container {
    display: flex;
    flex-flow: column nowrap;
}
#card-container {
    display: flex;
    flex-flow: row wrap;
    width: window;
    min-width: 600px;
    height: 770px;
    overflow: scroll;
}
.title-bar {
    display: flex;
    border: solid rgb(116, 246, 41) 3px;
    border-radius: 50px;
    background: beige;
    justify-content: center;
    margin-bottom: 10px;
}
.filterAndCardContainer {
    width: 900px;
    display: grid;
    position: relative;
}
.characterCard {
    display: flex;
    flex-wrap: wrap;
    border: solid black 3px;
    color: black;
    background-color: beige;
    max-width: 250px;
    max-height: 440px;
    margin: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    overflow: scroll;
    box-shadow: 3px 3px 5px #333;
    position: relative;
}
.characterCard img:first-child {
    max-width: 230px;
    max-height: 230px;
    margin: 5px;
    border: solid white 5px;
    border-radius: 15px;
}
.favoriteButton {
    margin: 5px;
    width: 30px;
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
}
.favoriteButton:hover {
    width:32px;
}
.characterNames {
    max-width: 200px;
}
.characterCard ul {
    list-style: none;
}
.characterCard div {
    font-weight: bold;
    font-family: fantasy;
}
.characterCard:hover {
    border: solid gold 3px;
}
.hidden {
    display: none!important;
}
.clear-button {
    position: absolute;
    width: 45px;
    height: 18px;
    font-weight: 16px;
    top: 0.5%;
    right: 3%;
    border: solid black 1px; 
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 136, 75);
    color: white;
    text-align: center;
    align-items: center;
    cursor: pointer; 
    
}
#empty-favorite-message {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(150, 206, 255);
    font-family: fantasy;
    box-shadow: 2px 2px 2px; 
}
#empty-favorite-message p {
    justify-self: center;
    margin: 5px;
    font-size: 20px;
}
.favoriteCard {
    display: flex;
    flex-flow: row wrap;
    width: 175px;
    height: 200px; 
    border: solid gold 3px;
    color: black;
    background-color: beige;
    margin: 10px;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15x;
    box-shadow: 2px 2px 2px; 
    font-family: fantasy;
    position: relative;
}
.favoriteCard:hover {
    border: solid gold 5px;
}
.favoriteCard img:first-child {
    min-width: 175px;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.favoriteCard img:last-child {
    position: absolute;
    top: 0%;
    left: 35%;
    width: 40px;
}
.favoriteCard.div {
    justify-self: center;
}
.noCharacterCards {
    display: flex;
    flex-wrap: wrap;
    border: solid black 3px;
    color: black;
    background-color: beige;
    max-width: 500px;
    max-height: 440px;
    margin: 10px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    overflow: scroll;
    box-shadow: 3px 3px 5px #333;
}
.noCharacterCards p {
    font-weight: bold;
    font-family: fantasy;
    align-self: center;
    text-align: center;
}
.changePage {
    width: window;
    height: 30px;
    border: solid black 3px;
    color: black;
    background-color: rgb(111, 236, 232);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 5px;
}
#previous-page {
    flex-grow: 1;
    border-radius: 11px;
    display: flex;
    padding: 5px 20px 5px 20px;
}
#previous-page:hover {
    opacity: 70%;
    border: solid 3px gold;
    cursor: grab;
}
#next-page {
    flex-grow: 1;
    border-radius: 11px;
    display: flex;
    padding: 5px 20px 5px 20px;
}
#next-page:hover {
    opacity: 70%;
    border: solid 3px gold;
    cursor: grab;
}
button:disabled {
    opacity: 20%;
    fill: gray;
}
button:disabled:hover {
    cursor: not-allowed!important;
    opacity: 20%!important;
    fill: gray!important;
    border: solid 3px black!important;
}

#filter-search {
    flex-grow: 3;
}
